<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../layout/_css.ejs') %>
    <title>Home</title>
</head>

<body>
    <%- include('../layout/_navbar.ejs') %>
    <div class="container mt-4">
        <table class="table table-borderd table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Subtitle</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                <% model.forEach(x=>{ %>
                    <tr>
                        <td>
                            <%=x.id%>
                        </td>
                        <td>
                            <%=x.title%>
                        </td>
                        <td>
                            <%=x.subtitle%>
                        </td>
                        <td><a href="/Home/Update/<%=x.id%>" class="btn btn-sm btn-warning">Update</a></td>
                        <td><a href="/Home/Delete/<%=x.id%>" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                    <% }) %>

            </tbody>
        </table>
        <a href="/home" class="btn btn-outline-success">Index</a>

    </div>
    
    <%- include('../layout/_js.ejs') %>
</body>

</html>